@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  background: radial-gradient(circle, rgba(0, 0, 0, 0.863) 34%, rgba(0,0,0,1) 100%); 
} 


/* Asegúrate de que el contenedor principal tenga una altura mínima del 100% */
html, body, #root {
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Asegúrate de que el footer esté siempre en la parte inferior */
footer {
  margin-top: auto;
}

/* Ajusta el z-index para asegurarte de que el dropdown se muestre encima */
.dropdown-content {
  z-index: 50;
}

.card {
    backdrop-filter: blur(1px) saturate(13%);
    -webkit-backdrop-filter: blur(5px) saturate(13%);
    border-radius: 16px;
    background-color: rgba(8, 8, 8, 0.781);
    border: 1px solid rgba(255, 255, 255, 0.125);
}


.back{
  backdrop-filter: blur(1px) saturate(13%);
  background: rgba(12, 12, 12, 0.85);
  z-index: 999;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.toCenteer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.alto {
  z-index: 2147483647;
}


.animation-alert{
  animation-name: alert;
  animation-duration: 500ms;
  transition: all;
  position: sticky;
  position: -webkit-sticky;
  top: 50%;
  left: 100%;

}

@keyframes alert {
  0% {
    top: 0;
    left: 0;
  }
  100% {
    top: 50%;
    left: 100%;
    position: sticky;
    position: -webkit-sticky;
  }
}




.toCenter {
  top: 50%;
  left: 50%;
  transform: translate(-50%,600%);
}

.toto:hover{
  transition: all 0.3s;
  filter: drop-shadow(0 0 0.75rem #a5a3a3);
}

.imagene {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}